<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../common/head %>
</head>
<body class="">
    <%- include ../common/body_navi_header %>
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="card">
                <div class="card-header">
                    <h5>푸시알람 보내기</h5> 
                </div>
                <div class="card-body">
                    <form id="pushalarm_form" action="/pushalarm" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">제목</label>
                                    <input type="text" class="form-control" name="pushalarm_title" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="form-label">메시지</label>
                                    <input type="text" class="form-control" name="pushalarm_message" placeholder="">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="pushalarm_submit()">전송</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <%- include ../common/script %>

</body>

</html>