<!DOCTYPE html>
<html lang="en">

<head>
    <title>AND ADMIN</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Codedthemes" />
    <!-- Favicon icon -->
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../../assets/css/plugins/dataTables.bootstrap4.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- Datepicker css ver 1.9-->
    <link href="../assets/css/plugins/bootstrap-datepicker3.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .menu-styler {
            display: none !important;
        }
    </style>
</head>
<body class="">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar menupos-fixed ">
        <div class="navbar-wrapper">
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar ">
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">관리목록</span></a>
                        <ul class="pcoded-submenu">
                            <li><a href="/">직원관리</a></li>
                            <li><a href="/board">게시글관리</a></li>
                            <li><a href="/department">부서관리</a></li>
                            <li><a href="/pushalarm">푸시알림관리</a></li>
                            <li><a href="/account">계정관리</a></li>
                        </ul>
                    </li>
                </ul>               
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->
    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            <a href="/" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <!-- ========   change your logo hear   ============ -->
                <img src="../assets/images/logo.png" alt="" class="logo" style="width:100px;">
            </a>
        </div>
    </header>
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="card">
                <div class="card-header">
                    <h5>푸시알람 보내기</h5> 
                </div>
                <div class="card-body">
                    <form id="pushalarm_form" action="/pushalarm" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">제목</label>
                                    <input type="text" class="form-control" name="pushalarm_title" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="form-label">메시지</label>
                                    <input type="text" class="form-control" name="pushalarm_message" placeholder="">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="pushalarm_submit()">전송</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- [ Main Content ] end -->

    <!-- Required Js -->
    <script src="../javascripts/admin.js"></script>

    <script src="../assets/js/vendor-all.min.js"></script>
    <script src="../assets/js/plugins/bootstrap.min.js"></script>
    <script src="../assets/js/pcoded.min.js"></script>
    <script src="../assets/js/menu-setting.min.js"></script>

    <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="../assets/js/plugins/dataTables.bootstrap4.min.js"></script>
    <!-- Apex Chart -->
    <script src="../assets/js/plugins/apexcharts.min.js"></script>

</body>

</html>